[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pymongo = "*"
mongoengine = "*"
pre-commit = "*"
python-jose = {extras = ["cryptography"], version = "*"}
bcrypt = "==4.0.1"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
